include INSTALL
include README
include COPYRIGHT
include LICENSE_GPL-2
include Changelog
recursive-exclude debian *
recursive-exclude phyghtmap pbfintmodule.c
recursive-include docs phyghtmap.1
recursive-include docs phyghtmap.help2man
recursive-include docs phyghtmap.1.html
recursive-include docs Makefile
