# Force old version of matplotlib, as _contour behavior changed in incompatible way in 3.5.x
matplotlib==3.4.3
bs4==0.0.1
numpy==1.24.2
# Do NOT pin GDAL version to ease installing it via OS package manager (due to many dependencies)
GDAL
