Source: phyghtmap
Section: utils
Priority: optional
Maintainer: Adrian Dempwolff <dempwolff@informatik.uni-heidelberg.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), python-dev (>= 2.3.5-11), python-support (>= 0.3.2)
Standards-Version: 3.7.3.0

Package: phyghtmap
Architecture: all
Depends: python, python-matplotlib, python-numpy, python-beautifulsoup
#Provides: ${python:Provides}
Description: utility to generate openstreetmap suitable contour lines from
	NASA SRTM data.  It supports dynamic tiling and forking on multi processor
	machines.  An interface to download raw SRTM data is included.
