name: Python package

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false      
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        platform: [ubuntu-latest, macos-latest, windows-latest]
        exclude:
        - # No pybind11-rdp wheel available for Python 3.14 on windows
          platform: windows-latest
          python-version: "3.14"

    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          miniforge-version: latest
      - name: Install dependencies
        run: |
          conda install -c conda-forge gdal
          python -m pip install --upgrade pip hatch
      - name: Test with coverage with all optional dependencies
        run: |
          hatch run geotiff:all
      - name: Run unit test without Geotiff dependencies
        run: |
          hatch run test
      - name: Ensure script entrypoint is executable
        run: |
          hatch run pyhgtmap -v
      - name: Report test-coverage to DeepSource
        # Deepsource doesn't seem super stable
        continue-on-error: true
        run: |
          # Install the CLI
          curl https://deepsource.io/cli | sh

          # Send the report to DeepSource
          ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
      - name: Report test-coverage to Codacy
        continue-on-error: true
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r ./coverage.xml
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
